<div class = 'main-top-content'>
    <div class = 'main-top-left-content'>
    <div id="jmap"></div>
    </div>
    <div class = 'main-top-right-content'>
    </div>
</div>
<div class = 'main-bottom-content'>
    <div class = 'main-bottom-left-content'>
    </div>
    <div class = 'main-bottom-right-content'>
    </div>
</div>

    <!-- 共通ヘッダー -->

<!-- これはHTML上でコメントアウトされた一文です -->