
  <body>
    <!-- 共通ヘッダー -->
    <header>
      <div class = 'header-base'>
        <!-- ロゴとタイトル -->
        <div class = 'header-logo'>
          <img src = 'image/header-logo.png' alt= 'logo' class = 'logo-image'>
          <img src = 'image/header-title.png' alt= 'logo' class = 'title-image'>
        </div>
        <!-- メニューボタン -->
        <div class = 'header-button'>
          <div class = 'guide-button'>
            <a href="#">初心者ガイド</a>
          </div>
          <div class = 'result-button'>
            <a href="#">釣果一覧</a>
          </div>
          <div class = 'result-button'>
            <a href="#">船宿一覧</a>
          </div>
          <div class = 'ranking-button'>
            <a href="#">ランキング</a>
          </div>
        </div>
        <!-- 検索窓 -->
        <div class = 'header-search'>
          <input type = 'search' name = '探す' placeholder="探す">
          <button type = 'submit'><img src="image/search-image.png" width="20px" height="20px"></button>
        </div>
        <!-- ユーザー管理 -->
        <div class = 'header-user'>
          <div class = 'login'>
            <a href="#">Log in</a>
          </div>
          <div class = 'sign-up'>
            <a href="#">Sing up</a>
          </div>
          <div class = 'username'>
            <a href="#">こんにちはAさん</a>
          </div>
          <div class = 'tweet-button'>
            <a href="#">釣果を投稿する</a>
          </div>
        </div>
      </div>
    </header>
    
    <footer>
    </footer>
  </body>

<!-- これはHTML上でコメントアウトされた一文です -->