<div class ='agent-index'>
<% @blogs.each do |blog| %>
  <li class='blog-list'>
    <%= link_to blog_path(blog) do %>
      <div class ='blog-content'>
        <% if blog.image.present? %>
          <%= image_tag blog.image , class: "blog-img-thumb" %>
        <%else %>
          <%= image_tag 'no_image.png', class:"blog-img-thumb" %>
        <%end%>
        <p class ='blog-title-thumb'><%= blog.blog_title %></p>
      </div>
    <% end %>
  </li>
<% end %>
</div>