<div class = agent-show-main-container>

  <h1>
  <%= current_agent.agentname %>
  </h1>
  <div class="container">
    <ul class="tab-list">
      <li class="tab box-active">基本情報</li>
      <li class="tab">船宿ブログ</li>
      <li class="tab">釣果情報</li>
    </ul>
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <p>タブ1の中身が入ります。</p>
        <p>タブ1の中身が入ります。</p>
        <p>タブ1の中身が入ります。</p>
      </div>
      <div class="tabbox">
        <p>タブ2の中身が入ります。</p>
        <p>タブ2の中身が入ります。</p>
        <p>タブ2の中身が入ります。</p>
      </div>
      <div class="tabbox">
        <p>タブ3の中身が入ります。</p>
        <p>タブ3の中身が入ります。</p>
        <p>タブ3の中身が入ります。</p>
      </div>
    </div>
  </div>