.agent-show-main-container {
padding-top: 90px;
}

.agent-show-container {
  max-width: 80%;
  margin-left: 150px;
}
.tab-panels ul {
  margin: 0;
  padding: 0;
}
.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    background: #c55;
    margin: 0;
    padding: .5em 1.5em;
    border-radius: .5em .5em 0 0;
    color: #fff;
    font-weight: 50;
    cursor: pointer;

      }

.tab-panels ul li:hover {
    color: #fff;
    background: #b20;
          }

.tab-panels ul li.active {
    color: #fff;
    background: #b20;
  
    }

.tab-panels .panel  {
    display:none;
    background: white;
    color: black;
    padding: 1.5em;
    border-radius: 0 0 .8em .8em;
  }

.tab-panels .panel.active {
display:block;
}


/* プロフィールの中身 */

.agent-profile-name {
  font-size: 30px;
  color: rgb(163, 159, 159);
  padding: 15px;
}

.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}