.agent-show-main-container {
  padding-top: 80px;
}

.container {
  margin: 10px;
  border: 1px solid #ccc;
}
/* ↓タブを横並び↓ */
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* ↓タブのデザイン↓ */
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
/* ↓タブがアクティブになっている時のデザイン↓ */
.tab-active {
  color: #FFF;
  background: #5b9fff;
  transition: all 0.2s ease-in-out;
}
/* ↓タブの中身↓ */
.tabbox {
  /* ↓タブの中身を最初は非表示↓ */
  display: none;
  /* ↓タブの中身の余白↓ */
  padding: 15px;
}
/* ↓このクラスがついている時だけタブの中身を表示↓ */
.box-show {
  display: block;
}